VITE_OPENAI_API_KEY=your_openai_api_key_here


// NOTE:
// In a production environment, OPENAI_API_KEY should be stored securely on a backend.
// For this frontend assignment, we are using VITE_OPENAI_API_KEY due to Vite constraints.